*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #508aa8;
}

.App {
  text-align: center;
}

.header {
  padding: 1em;
  font-size: 1.5em;
  background-color: #031927;
  color: white;
}

h1 {
  background-color: #031927;
}

.contents {
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

li {
  padding-top: 1em;
}

h2 {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.2em;
  width: 20em;
  text-align: center;
  color: white;
}

h3 {
  color: white;
  padding: 1em;
}

.review-image {
  width: 20em;
  height: 14em;
  border-radius: 1em;
  object-fit: cover;
  border: 2px;
  border-style: solid;
}

.review-container {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  padding-top: 2em;
  align-items: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.review-header {
  font-size: 1.4em;
  text-align: center;
  color: white;
  width:100%;
  font-size: 1.5em;
}

.review-body {
  max-width: 46em;
  font-size: 1.2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  color: white;
  font-weight: 600;
}

.single-review-image {
  width: 80vw;
  max-width: 30em;
  max-height: 25em;;
  border-radius: 1em;
  object-fit: cover;
  border: 2px;
  border-style: solid;
  justify-content: center;
}

.links {
  font-size: 1em;
  width: 20em;
  text-align: center;
  color: white;
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
}

.review-info {
  display: flex;
  gap: 2em;
  font-size: 1.2em;
  color: white;
  font-weight: 600;
  padding-left: 2em;
  padding-right: 2em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.comments-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.comments-list {
  max-width: 46em;
  font-size: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  color: white;
  font-weight: 600;
  flex-direction: column;
}

.view-comments {
  font-size: 1em;
  text-align: center;
  color: white;
  text-decoration: none;
  text-align:center;
  padding: 1em;
  justify-content: center;
  align-items:center;
}

.view-comments:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 1em;
}

.bottom-of-comments {
  color: #508aa8;
}

.votes {
  display: flex;
  flex-direction: row;
  gap: .5em;
  justify-content: center;
  align-items: center;
}

.upvote {
 color:white;
 background-color:green;
 padding:.5em;
 border-radius: 1em;
 border-color: white;
 border-width: 2px;

}

.downvote {
  color:white;
 background-color:rgb(128, 23, 0);
 padding:.5em;
 border-radius: 1em;
 border-color: white;
 border-width: 2px;

}

.form-container {
  display: flex;
  flex-direction: column;
  height:50em;
}

.add-comment {
  gap:2em;
  height:2em;
}

textarea {
  height: 6em;
  background-color: rgb(255, 255, 255);
  width: 46em;
  align-items: center;
  flex-direction: column;
}

.add-button {
  height:2em;
  width: 5em;
}