*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #508aa8;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.header {
  padding: 1.5em;
  font-size: 1.5em;
  background-color: #031927;
  color: white;
}

h1 {
  background-color: #031927;
}

.contents {
  background-color: #508aa8;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

li {
  padding-top: 1em;
}

h2 {
  padding-top: 1em;
  font-size: 1.2em;
  width: 20em;
  text-align: center;
  color: white;
}

h3 {
  color: white;
  padding: 1em;
}

.review-image {
  width: 20em;
  height: 14em;
  border-radius: 1em;
  object-fit: cover;
  border: 2px;
  border-style: solid;
}

.review-container {
  background-color: #508aa8;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  padding-top: 2em;
  align-items: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.review-header {
  font-size: 1.4em;
  width: 1.2em;
  width: 16em;
  text-align: center;
  color: white;
}

.review-body {
  max-width: 46em;
  font-size: 1.2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  color: white;
  font-weight: 600;
}

.single-review-image {
  width: 80vw;
  max-width: 40em;
  max-height: 30em;;
  border-radius: 1em;
  object-fit: cover;
  border: 2px;
  border-style: solid;
  justify-content: center;
}

.links {
  font-size: 1em;
  width: 20em;
  text-align: center;
  color: white;
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
}

.review-info {
  display: flex;
  gap: 2em;
  font-size: 1.2em;
  color: white;
  font-weight: 600;
  padding-left: 2em;
  padding-right: 2em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.comments-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.comments-list {
  max-width: 46em;
  font-size: 1.2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  color: white;
  font-weight: 600;
  flex-direction: column;
}

.view-comments {
  font-size: 1em;
  text-align: center;
  color: white;
  text-decoration: none;
  text-align:center;
  padding: 1em;
  justify-content: center;
  align-items:center;
}

.view-comments:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 1em;
}

.bottom-of-comments {
  color: #508aa8;
}